
{{ form_start(form, { 'attr': {'class': 'navbar-form navbar-left formHeader'} }) }}
<div id="custom-search-input">
    <div class="input-group">
{{ form_widget(form.recherche, { 'attr': {'class': 'inputSearch search-query form-control'} }) }}
        <span class="input-group-btn">
            <button class="btn btnSearch" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
{{ form_end(form) }}